
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.hero {
  text-align: center;
  position: relative;
  height: auto;
  padding-bottom: 80px;
  background: #4f2f60 url("https://pbs.twimg.com/profile_banners/219943244/1461574610/1500x500") center top no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}
.hero h1 {
  margin: 50px 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #fff;
}
.hero h1 span {
  font: 700 60px/1 "Dancing Script", cursive;
  display: block;
}
.hero h2 {
  background: #FEBE10;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
}
@media only screen and (min-width: 37.5em) {
  .hero h1 {
    font-size: 50px;
  }
  .hero h1 span {
    font-size: 76px;
  }
  .hero h2 {
    width: 70%;
    font-size: 18px;
  }
}

.wrapper {
  margin: 0 auto;
  width: 96%;
  max-width: 1120px;
}

#main-section {
  margin-top: 2px;
}

.section {
  padding: 60px 0;
  background: #f1f1f1;
  border-bottom: 1px solid #d5d5d5;
}
.section__title {
  padding: 14px;
  margin: 14px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid;
  text-transform: uppercase;
  color: rgba(171, 22, 43, 0.7);
  font-family: 'Segoe UI', sans-serif, serif;
}
.section__intro {
  line-height: 1.6;
  display: block;
  font-size: 1.1em;
  margin: 0 5% 30px;
  text-align: center;
}
@media only screen and (min-width: 43.75em) {
  .section__intro {
    margin-left: 5%;
    margin-right: 5%;
  }
}
.section--cta {
}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  margin-bottom: 20px;
  background: #f9f9f9;
}
.box__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.box__title {
  font-family: "Montserrat", sans-serif;
}
.box__more {
  color: #ff4e5c;
}
.box__content {
  color: #454545;
  text-align: center;
  padding: 20px;
}
.box__content > i {
  color: #3b3b58;
}
.box__content:hover .box__more {
  color: #ff3545;
}
.box__content:hover .box__more i {
  padding-left: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
@media only screen and (min-width: 43.75em) {
  .box {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }
}

.btn {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 300px;
  padding: 12px 18px;
  border-radius: 100px;
  background: #ff4e5c;
}
.btn:hover {
  background: #ff3545;
}
