.title {
  font-size: 3em;
  font-family: "Helvetica Naue", Ubuntu, sans-serif;
}

.engraved {
  padding: 2em;
  font-size: 1.1em;
  text-align: center;
}

#quotes-list {
  padding: 0;
  margin: 10px 0;
}

.list-item {
  font-family: sans-serif;
  list-style: none;
  margin: 10px 0;

  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.list-item::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.list-item:hover {
  cursor: pointer;

  -webkit-transform: scale(1.1, 1.1);
  transform:  scale(1.1, 1.1);
}

.list-item:hover::after {
  opacity: 1;
}

/* either the toolbar or logo need a flex-basis of at least 1px otherwise the whole top row collapses under the 100% flex of the nav */
.table-header {
  padding: 5px;
  text-align: left;
  font-size: 0.9em;
  font-weight: bolder;
  text-transform: capitalize;
  border-bottom: 2px solid #d5d5d5;
}

.table-row {
  color: #8b91a5;
  font-size: 0.8em;
  text-align: center;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.table-row:hover {
  color: #8b91a5;
}
.table-cell {
  text-align: left;
  padding: 10px 5px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1px;
  -ms-flex: 1 1px;
  flex: 1 1px;
  -webkit-flex-grow: 3; /* Safari */
  flex-grow:         3;
}

.medium-table-cell {
  -webkit-flex-grow: 2; /* Safari */
  flex-grow:         2;
}

.small-table-cell {
  -webkit-flex-grow: 1; /* Safari */
  flex-grow:         1;
}
.logo {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  background: darkgray;
}


.quotes-fab {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #4285F4;
  float: right;
  will-change: transform;
  transition: 0.25s all ease-in-out;
  cursor: pointer;
  z-index: 999;
  color: white;
  line-height: 60px;
  font-size: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}

.quotes-fab:hover {
  color: #fff;
  background: #5a95f5;
}
